@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,300&display=swap');
.contacts__suptitle {
    max-width: 190px;
    margin-left: -43px;
}


.planets {
    width: 100%;
    height: 1100px;
    background:  url(./images/1610164174_22-p-fon-multyashnii-kosmos-41.jpg) center no-repeat;
}

.planet__name {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: white;
    font-weight: 700;
    opacity: 0.9;
    font-family: 'Sofia Sans';
}


.planet__container {
    max-width: 700px;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 30px;
    justify-content: space-between;
}

.planet__pos {
    display: block;
}


.planet_away { 
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}


.planet__inner {
    position: relative;
    top: 200px;
    margin: 40px 0;
}






.planet__text {
    font-family: 'Sofia Sans';
    font-size: 22px;
    color: white;
    position: relative;
    top: 15px;
    opacity: 0.9;
    left: 20px;
}

.planet__text-title {
    position: relative;
    margin-top: 20px;
    margin-left: -60px;
    max-width: 310px;
    font-family: 'Sofia Sans';
    
}




.ui-message-box__wrapper {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2002;
	background-color: rgba(39,39,39,0.7);
    transition: all 1s ease;
}

.ui-message-box {
	display: block;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	padding: 12px 14px;
    transition: all 1s ease;
	border-radius: 8px;
    height: 250px;
    width: 300px;
	z-index: 2000;
	transition: all 1s ease;
	position: relative;
    z-index: 100;
    font-family: 'Sofia Sans';
    font-weight: 500;
    color: black;
}



.ui-message-box img {
    width: 700px;
    margin: 0 auto 0 ;
    left: -240px;
    position: relative;
    top: 260px;
    transition: all 1s ease;
}

.ui-message-box .button-close {
	width: 22px;
	height: 22px;
    position: relative;
    z-index: 100;
    transition: all 1s ease;
}

.ui-message-box__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 8px;
	margin-bottom: 8px;
    margin-left: 10px;
    font-family: 'Nerko One';
    font-size: 18px;
    font-weight: 300;
    margin-top: -40px;
    position: relative;
    z-index: 100;
    transition: all 1s ease;
}

.ui-message-box__content {
	margin-bottom: 16px;
    text-align: center;
    padding: 0 5px;
    margin-top: -20px;
    position: relative;
    z-index: 100;
    width: 500px;
    margin-left: -100px;
    transition: all 1s ease;
}



.ui-message-box__footer {
	text-align: right;
  cursor: pointer;
  transition: all 1s ease;
}

.message-box-title {
	font-size: rem(24);
    margin: 0 auto 0;
    margin-top: -20px;
    transition: all 1s ease;
}

.button-light {
    cursor: pointer;
    content: '';
    width: 150px;
    height: 50px;
    position: absolute;
    margin-left: -25px;
    z-index: 100;
    transition: all 1s ease;
}



.button-primary {
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    width: 30%;  
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: center;
    bottom: 0px;
    left: 0;
    position: relative;
    z-index: 100;
    transition: all 1s ease;
}
.button-primary::before {
    content: '';
    transition: all 1s ease;
}

.ui-flex {
    display: flex;
    position: relative;
    top: 5px;
    transition: all 1s ease;
}


hr {
    margin-top: -10px;
}
