body {
    overflow-y: hidden;
}

.content {
    width: 100vw;
    margin: 0;
    
}
.container {
    margin: 0 auto 0;
    width: 100%;
    height: 971px;
    padding: 0 10px 0px 15px;
    background: url(./images/1610164174_22-p-fon-multyashnii-kosmos-41.jpg) center no-repeat;
}


.slidersize {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  transition: transform 0.5s ease-in-out;
}


.bookContainer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 250px;
    position: relative;
    top: 200px;
}



.bookMain {
 position: relative;
 top: 200px;
 display: flex;
}

.bookText {
    font-size: 20px;
    cursor: pointer;
    color: white;
    opacity: 0.9;
    text-decoration: none;
    
}

a {
     text-decoration: none;
}



.bookText:hover {
    text-decoration: underline;
}

.bookTextVis {
    color: white;
    opacity: 0.9;
    font-size: 20px;
    margin-top: 1px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}


.slideContainer {
    overflow: hidden;
    overflow-x: hidden;
    padding: 0;
    margin-top: 40px;
    margin-left: 30px;
    max-width: 1200px;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
}
  
.slideTrack {
    display: flex;
    transition: .8s ;
}


.slideItem {
    position: relative;
    margin: -25px 15px 0 15px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    border-radius: 10px;
    z-index: 3;
    background-color: #000;
    border: 1px solid black;
    width: 350px;

}

.slideItem video{
    border-radius: 10px;
    border: 3px solid black;
}

.slideItemOpen {
    position: relative;
    margin: 0px 15px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 10px;
    z-index: 3;
    width: 350px;
}
.slideItemOpen video {
    border-radius: 10px;
    border: 3px solid black;
}


.slideItem p{
    color: white;
}


.Episodes {
    display: flex;
    margin: 0 50px;
}

.Episodes video{
    display: flex;
    margin: 0 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.slideTitle {
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    top: 0px;
    position: absolute;
    z-index: 3;
    display: flex;
    left: -290px;
}

.EpisodeDis {
    display: flex;
    position: relative;
    margin-top: 100px;
   
    z-index: 100;
}

.productsPoint {
    text-decoration: none;
    position: relative;
    top: 140px;
    left: -230px;
}

.payProducts {
    position: relative;
    font-size: 19px;
    letter-spacing: -0.2px;
    padding: 0 10px;
    top: -5px;
    z-index: 3;
    text-decoration: none;
}

  .videos video {
    width: 350px;
    position: relative;
    border-radius: 10px;
  
  }

  .videos h1 {
    font-size: 17px;
    background: none;
    margin-left: 10px;
    position: relative;
    
    height: 200px;
    width: 320px;
  }
  
  .videos h2 {
    font-size: 17px;
    background: none;
    margin-left: 50px;
    height: 200px;
    width: 320px;
  } 


.aaad {
      width: 26%;
      position: relative;
      z-index: 100;
      border-radius: 10px;
      position: relative;
      z-index: 100;
      margin: 0 33px;
      display: flex; 
      box-sizing: border-box; 
      padding: 5px
  }

  .aaad video {
    border-radius: 10px;
  }

  .EpisodeContainerButtons {
    display: flex;
    margin-top: 60px;
  }

.containerVideos {
    display: flex;
  }
  .containerVideos {
    width: 1200px;
      height: 500px;
      overflow: hidden;
      position: relative;
      top: 80px;
      
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #360171, #893cef);
  }


  .containerVideosCharacters {
    width: 800px;
      height: 400px;
      overflow: hidden;
  }
  
  .containerVideosCharacters .item {
    margin: 0 50px;
    
  }

  
  .leftEpisode, .rightEpisode {
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    width: 34px;
    height: 35px;
  }

  .leftEpisode {
    position: absolute;
    left: 0px;
  }

  .rightEpisode {
    position: absolute;
    right: 0px;
  }

.VideoEpisodeMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  .videos h1 {
    font-size: 17px;
    background: none;

    height: 200px;
    width: 320px;
    font-weight: 100;
    color: white;
    margin-top: 10px;
  }

  .EpisodeContainerButtons {
    display: flex;
    margin-top: 60px;
    position: absolute;
    width: 1024px;
    left: -10px;
    justify-content: space-between;
}
  


@media(max-width: 1200px) {
  .aaad {
    width: 42%;
    margin: 0 33px;
   
}
.containerVideos {
  width: 945px;
}
}


  @media(max-width: 1024px) {
    .containerVideos {
        width: 725px;
    }

    .videos video {
      width: 310px;
    }

    .aaad {
      width: 40%;
    }
    
  }

  @media(max-width: 768px) {
    .videos {
        margin: 0 00px;
      }

      ::-webkit-scrollbar {
        width: 0;
      }
    
      ::-webkit-scrollbar-track {
        width: 0;
      }
    
      ::-webkit-scrollbar-thumb {
        width: 0;
      }

      .aaad video {
        height: 200px;
      }
     

      .slidersize {
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
      }

      .aaad {
        margin: 0 33px;
      }

      .slidersizeBooks {
        overflow-x: scroll;
        height: 700px;
        margin-left: -150px;
        -webkit-overflow-scrolling: touch;
    }
      .aaadd video {
        overflow: hidden;
        margin: 0 50px;
      }

      .EpisodeContainerButtons {
        display: none;
      }
  }

  @media(max-width: 660px) {
    .aaad {
      margin: 0 60px;
    }
  }

  @media(max-width: 550px) {
    .aaad {
      margin: 0 80px;
      
    }

    .slidersize {
      margin-left: -50px;
    }

  }

  @media(max-width: 425px) {
    .slidersize {
      margin-left: 0px;
    }
    .slidersize {
      margin-left: -80px;
    }

    .videos video{
      width: 290px;
    }


      .slidersizeBooks {
        margin-left: -170px;
    }
    .aaad {
      margin: 0 70px;
    }

      .EpisodeContainerButtons {
        display: none;
      }
  }


  @media(max-width: 360px) {
    .aaad {
      margin: 0 80px;
    }
  }